.mini-word-card {

    border-radius: 7px;
    border:1px solid #333;
    min-height: 70px;
    width: 98px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:1px;
    background-color: #fff;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1rem;
    text-align: center;
}

.mini-word-card-word {
    min-width: 52px;
    line-height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center; /* To keep the content centered if only word is present */
}


.mini-word-card-def1 {
    line-height: 1.5rem;
    width: 46px;
    font-weight: bold;
}

.mini-word-card > * > span {
    display:block
}

.speak-button-mini {
  font-size: 1rem; /* Smaller size for mini card */
  padding: 0.1rem 0.3rem; /* Smaller padding */
  background: none;
  border: none;
  cursor: pointer;
  color: #333; /* Default color */
  margin-left: 2px; /* Small spacing between word and button */
}

.speak-button-mini:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}