.mini-word-card {

    border-radius: 7px;
    border:1px solid #333;
    min-height: 70px;
    min-width: 98px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:1px;
    background-color: #fff;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1rem;
    text-align: center;
}

.mini-word-card-word {
    min-width: 52px;
    line-height: 2.2rem;
    
}


.mini-word-card-def1 {
    line-height: 1.5rem;
    width: 46px;
    font-weight: bold;
}

.mini-word-card > * > span {
    display:block
}