/* src/styles/Wordsets.css */

.wordsets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wordsets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    width: 80%;
  }
  
  .wordset-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .wordset-button-group {
    display: flex;
    align-items: center;
  }
  
  .wordset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .show-excluded-button {
    margin-left: 10px;
    font-size: 0.8rem;  /* Make the font smaller */
    padding: 5px 10px;  /* Smaller padding for a smaller button */
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    color: #333;
  }
  
  .show-excluded-button:hover {
    background-color: #e0e0e0;
  }
  
  